<div class="row">
  <div class="col-lg-12">
    <h2>Who We Are</h2>
    <p>
      The Portland Bus Lane Project is made up of concerned citizens and daily bus riders who believe that there are inherent inefficiencies in how the roads in Portland are used. Our mission is to improve travel times for bus commuting Portlanders by advocating for the conversion of existing traffic lanes into dedicated bus-only use on highly congested corridors.
      Interested in getting involved? Click here to see our volunteer opportunities, and make sure to subscribe to our low-volume mailing list on the homepage!
    </p>
  </div>
</div>
