<div class="row">
  <div class="col-lg-12">
    <h2>Media/Publications</h2>
    <p>
      Here are some links to our project in the news:
      <li><a href="http://katu.com/news/local/group-pushing-for-dedicated-bus-lanes-across-hawthorne-bridge" target="blank">KATU (5/21/2017)</a></li>
      <li><a href="https://bikeportland.org/2017/05/11/is-it-time-for-more-bus-only-lanes-in-portland-228020" target="blank">BikePortland (5/11/2017)</a></li>
    </p>
    <p>
      Here are some publications we've put together about our project:
      <li><a href="https://docs.google.com/presentation/d/1Wl15nkM9zzrTA961FqOxC83Dyy3xmboA42KxKpwydrg/edit" target="blank">Portland Bus Lane Project Presentation/Overview</a></li>
    </p>
  </div>
</div>
